/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root{
    --color-primary: #062440;
    --color-primary-one: #005A7C;
    --color-primary-two: #87B9F5;
    --color-secondary: #FFFFFF;
    --color-tertiary: #000000;
    --color-quaternary: #FFA61C;
    --color-five: #FFA61C;
    --color-six: #FF7D17;;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #eeeeee;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
}

#background{
    position: absolute;
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    background-color: var(--color-primary);
    word-wrap: break-word;
}

#top-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

#name-modal-quester{
    font: 800 40px 'Sora';
}

#details-top-modal{
    font: 300 24px 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#details-top-modal > span{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#details-top-modal > span > svg, #details-top-modal > span > svg > path{
    width: 20px;
    height: 20px;
    fill: #FFF;
}





#main-modal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 70%;
    background: transparent;
    overflow-y: scroll;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    gap: 10px;
}


#main-modal::-webkit-scrollbar-track {
    border-radius: 10px;  margin: 10px;
}
   
#main-modal::-webkit-scrollbar {
    width: 8px;
    background: none;
    border-radius: 10px;
}

#main-modal::-webkit-scrollbar-thumb {
    background: var(--color-primary-one); 
    border-radius: 10px;
}

.card-modal-quester{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-two);
    border-radius: 10px;
    margin: 5px;
    font: 700 14px 'Montserrat';
    color: var(--color-tertiary);
    gap: 8px;
    word-wrap: break-word;
}

.card-modal-quester > span:last-child{
    background: var(--color-six);
    color: var(--color-tertiary);
    width: 95%;
    border-radius: 10px;
    padding: 5px;
}









#bottom-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

#bottom-modal > button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 82%;
    height: 50%;
    background: var(--color-primary-one);
    border: none;
    border-radius: 10px;
    font: 500 24px 'Montserrat';
    color: #FFF;
    cursor: pointer;
}

#bottom-modal > button > svg, #bottom-modal > button > svg > path{
    width: 25px;
    height: 25px;
    fill:#FFF;
}

#details-bottom-modal{
    background: var(--color-primary-two);
    position: absolute;
    border-radius: 10px;
    color: var(--color-tertiary);
    width: 76%;
    height: 15%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 93.5%;
    padding: 5px;
    word-wrap: break-word;
    box-sizing: border-box;
    font: 700 14px 'Montserrat'; 
    display: none;
}


#details-bottom-modal::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 5px;
}
   
#details-bottom-modal::-webkit-scrollbar {
    width: 5px;
    background: none;
    border-radius: 10px;
}

#details-bottom-modal::-webkit-scrollbar-thumb {
    background: var(--color-primary-one); 
    border-radius: 10px;
}

#details-bottom-modal > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}