/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root{
    --color-primary: #60D4EA;
    --color-primary-one: #12203F;
    --color-secondary: #010101;
    --color-tertiary: #373739;
    --color-quaternary: #9BEAF2;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #eeeeee;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background{
    position: absolute;
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    background-color: var(--color-primary-one);
}

#top-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background: red;
}

#main-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    background: blue;
}

#bottom-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background: green;
}